<table>
    <tr class="row">
        <td class="col1">
            <label id ="contentsText">ID</label>
        </td>
        <td class="col2" colspan="2">
            <div class="ui input">
                <label id ="contentsText"><%= curID %></label>
            </div>
        </td>
    </tr>
    <tr class="row">
        <td class="col1">
            <label id="contentsText">사용자 이름</label>
        </td>
        <td class="col2">
            <div class="ui input">            
                <label id ="contentsText"><%= curName %></label>
            </div>
        </td>
    </tr>
</table>
